@using Microsoft.AspNetCore.Components.Forms
@using Blazor.CommandLine;

@inherits Blazor.CommandLine.BlazorCommandLineComponent

<div id="console">
    <div id="container">
        <pre>
            <code>@((MarkupString)Output)</code>
            <code>@((MarkupString)Running)</code>
        </pre>
    </div>

    <EditForm OnValidSubmit="Execute" autocomplete="off" Model="Command" novalidate>
        <div id="input-line" class="input-line">
            <div class="prompt">
                <span class="prompt-label">Command &gt;</span>
                <div class="input-wrapper">
                    <InputText id="commandline" autocomplete="off" Class="cmdline" disabled="@Disabled"
                               placeholder="@Placeholder" @bind-Value="@Command.Text"/>
                </div>
            </div>
        </div>
    </EditForm>

</div>
